* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: lightblue;
}
.kutu {
    border: 2px solid red;
    background-color:cornflowerblue;
    width: 30vw;
    height: 19vw;
    margin-top: 3vw;
    margin-left: 35vw;
}
.header {
    width: 20vw;
    text-align: center;
    color:black;
    margin-left: 3.5vw;
    margin-top: 2vw;
    border: 2px solid white;
    font-size: 0.8vw;
}
.islem-alanı {
    width: 11vw;
    margin-left: 4vw;
    margin-top: 0.2vw;
    font-size: 3vw;
    display: inline-block;
}
.islem-alanı-2 {
    text-align: center;
}
.equal {
    width: 2vw;
    margin-top: 1.5vw;
    margin-left: -0.3vw;
    font-size: 3vw;
    padding-right: 3vw;
    display: inline-block;
}

#sonuc {
    position: absolute;
    width: 3vw;
    height: 3.5vw;
    font-size: 1.5vw;
    top: 11.3vw;
    left: 53.2vw;
    padding-left: 0.5vw;
    border: 0.1vw solid cornflowerblue;
    background-color: white;
}
#button {
    position: absolute;
    top: 11.3vw;
    right: 38.2vw;
    width: 5.5vw;
    height: 3.5vw;
    border: 0.1vw solid cornflowerblue;
}
.cevapla {
    font-size: 1.3vw;
    margin-top: 2vw;
    color: black;
}
#button:hover {
    background-color: red;
}
.cevapla:hover {
    background-color: green;
}
.sayac {
    position: absolute;
    top: 17vw;
    left: 45vw;
    margin-left: 2vw;
    background-color: cornflowerblue;
}
#p1 {
    display: inline;
    font-size: 2.5vw;
    background-color: green ;
}
#p2 {
    display: inline;
    font-size: 2.5vw;
    background-color: red;
}
